In [43]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *

# Title Basics

In [2]:
df = pd.read_csv('Data/title_basics.csv.gz')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84004 entries, 0 to 84003
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          84004 non-null  object
 1   titleType       84004 non-null  object
 2   primaryTitle    84004 non-null  object
 3   originalTitle   84004 non-null  object
 4   isAdult         84004 non-null  int64
 5   startYear       84004 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  84004 non-null  int64
 8   genres          84004 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.8+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

## Genre

### OHE genres column

In [3]:
gen_loc = df.loc[0,'genres']
print(type(gen_loc))
gen_loc

<class 'str'>

'Comedy,Fantasy,Romance'

In [4]:
#convert string to list
df['genres_split'] = df['genres'].str.split(",")
df[:3]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]

In [5]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
84002,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
84002,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
84002,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
84003,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
84003,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [6]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [7]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [8]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [9]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [10]:
title_genres.head()

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9
0  tt0035423        18
1  tt0062336         7
2  tt0069049         7

In [11]:
genres = pd.DataFrame({'Genre_Name':genre_map.keys(),
                            'Genre_ID':genre_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [12]:
title_basics = df.drop(columns='genres_split')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

## Clean Columns

In [13]:
#drop unnecessary columns
title_basics = title_basics.drop(columns=['originalTitle','isAdult','titleType','genres'])

In [14]:
#rename columns
title_basics.rename(columns={'tconst':'Movie ID (tconst)','primaryTitle':'Primary Title','startYear':'Start Year','runtimeMinutes':'Runtime (in Minutes)','endYear':'End Year'}, inplace=True)
title_basics.info()
title_basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84004 entries, 0 to 84003
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Movie ID (tconst)     84004 non-null  object
 1   Primary Title         84004 non-null  object
 2   Start Year            84004 non-null  float64
 3   End Year              0 non-null      float64
 4   Runtime (in Minutes)  84004 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.2+ MB

,Movie ID (tconst),Primary Title,Start Year,End Year,Runtime (in Minutes)
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126

In [15]:
title_basics.head()

,Movie ID (tconst),Primary Title,Start Year,End Year,Runtime (in Minutes)
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126

# Title Ratings

In [16]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.info()
title_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478814 entries, 0 to 478813
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         478814 non-null  object
 1   averageRating  478814 non-null  float64
 2   numVotes       478814 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.0+ MB

      tconst  averageRating  numVotes
0  tt0000001            5.7      1926
1  tt0000002            5.8       261
2  tt0000005            6.2      2555
3  tt0000006            5.1       175
4  tt0000007            5.4       797

In [17]:
title_ratings.rename(columns={'tconst':'Movie ID (tconst)','averageRating':'Average Movie Rating','numVotes':'Number of Votes'}, inplace=True)
title_ratings.head()

  Movie ID (tconst)  Average Movie Rating  Number of Votes
0         tt0000001                   5.7             1926
1         tt0000002                   5.8              261
2         tt0000005                   6.2             2555
3         tt0000006                   5.1              175
4         tt0000007                   5.4              797

# TMDB

In [18]:
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.109,2058.0,PG

In [19]:
tmdb_data = tmdb[['imdb_id','revenue','budget','certification']]
tmdb_data

        imdb_id     revenue      budget certification
0             0         NaN         NaN           NaN
1     tt0113026         0.0  10000000.0           NaN
2     tt0113092         0.0         0.0           NaN
3     tt0116391         0.0         0.0           NaN
4     tt0118694  12854953.0    150000.0            PG
...         ...         ...         ...           ...
2504  tt7797670         0.0         0.0           NaN
2505  tt7797790         0.0         0.0           NaN
2506  tt8665056         0.0         0.0           NaN
2507  tt8795764         0.0         0.0            NR
2508  tt9071078         0.0         0.0           NaN

[2509 rows x 4 columns]

In [20]:
tmdb_data.rename(columns = {'imdb_id':'Movie ID','revenue':'Revenue','budget':'Budget','certification':'Certification (MPAA Rating)'}, inplace=True)
tmdb_data.head()

C:\Users\grace\AppData\Local\Temp\ipykernel_15320\1067278631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_data.rename(columns = {'imdb_id':'Movie ID','revenue':'Revenue','budget':'Budget','certification':'Certification (MPAA Rating)'}, inplace=True)

    Movie ID     Revenue      Budget Certification (MPAA Rating)
0          0         NaN         NaN                         NaN
1  tt0113026         0.0  10000000.0                         NaN
2  tt0113092         0.0         0.0                         NaN
3  tt0116391         0.0         0.0                         NaN
4  tt0118694  12854953.0    150000.0                          PG

# Importing to SQL

In [21]:
with open ('c:/Users/grace/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [22]:
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movies"
engine=create_engine(connection)

In [23]:
if database_exists(connection):
    print('It exists')
else:
    create_database(connection)
    print('Database created')

It exists

## Title Basics

In [54]:
title_basics.head()

,Movie ID (tconst),Primary Title,Start Year,End Year,Runtime (in Minutes)
0,tt0035423,Kate & Leopold,2001.0,NaN,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,NaN,70
2,tt0069049,The Other Side of the Wind,2018.0,NaN,122
3,tt0088751,The Naked Monster,2005.0,NaN,100
4,tt0096056,Crime and Punishment,2002.0,NaN,126

In [31]:
## Calculate max string lengths for object columns
key_len = title_basics['Movie ID (tconst)'].fillna('').map(len).max()
title_len = title_basics['Primary Title'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "Movie ID": String(key_len+1), 
    "Primary Title": Text(title_len+1),
    'Start Year':Float(),
    'End Year':Float(),
    'Runtime':Integer()}

In [32]:
title_basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index='False')

84004

In [33]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`Movie ID`);')

OperationalError: (pymysql.err.OperationalError) (1072, "Key column 'Movie ID' doesn't exist in table")
[SQL: ALTER TABLE title_basics ADD PRIMARY KEY (`Movie ID`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [36]:
title_genres.to_sql('title_genres',engine,if_exists='replace',index='False')

156964

In [40]:
genres.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [41]:
## Set the dataframe index and use index=True 
genres.set_index('Genre_ID').to_sql('genres',engine,index=True)

26

## Title Ratings

In [42]:
title_ratings.dtypes

Movie ID (tconst)        object
Average Movie Rating    float64
Number of Votes           int64
dtype: object

In [45]:
key_len = title_ratings['Movie ID (tconst)'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "Movie ID": String(key_len+1),
    'Average Movie Rating':Float(),
    'Number of Votes':Integer()}

In [48]:
title_ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

478814

In [49]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`Movie ID`);')

OperationalError: (pymysql.err.OperationalError) (1072, "Key column 'Movie ID' doesn't exist in table")
[SQL: ALTER TABLE title_ratings ADD PRIMARY KEY (`Movie ID`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## TMDB

In [50]:
tmdb_data.dtypes

Movie ID                        object
Revenue                        float64
Budget                         float64
Certification (MPAA Rating)     object
dtype: object

In [51]:
key_len = tmdb_data['Movie ID'].fillna('').map(len).max()
cert_len = tmdb_data['Certification (MPAA Rating)'].fillna('').map(len).max()
df_schema = {
    "Movie ID": String(key_len+1),
    'Revenue':Float(),
    'Budget':Float(),
    "Certification (MPAA RATING)": Text(cert_len+1)}

In [52]:
tmdb_data.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

2509

In [53]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`Movie ID`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`Movie ID`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)